<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474939833547-mi9udsuembesqs7nbqsokfmuvk0ab931.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474939833547-mi9udsuembesqs7nbqsokfmuvk0ab931</string>
	<key>API_KEY</key>
	<string>AIzaSyAw7eKzNytqmuYBFjkUJF_dshA1h6QNWyw</string>
	<key>GCM_SENDER_ID</key>
	<string>474939833547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aplicativo.souartista</string>
	<key>PROJECT_ID</key>
	<string>sou-artista</string>
	<key>STORAGE_BUCKET</key>
	<string>sou-artista.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474939833547:ios:609dc4a5f207e1dcfdaf4e</string>
</dict>
</plist>